table, th, td {
  border: 5px solid rgb(46, 33, 33);
  background-color: beige;
  position: sticky;
}
#top{
    background-color: rgb(73, 61, 56);
    text-align: center;
    color: white
}
body{
    background-color: rgb(109, 176, 221);
    font-family: "Courier New"
}
img{
    float: right;
}
h4{
    text-align: right;
}
div.header{
    position: sticky;
    top: 0;
}